$primary-color: #1B262C;
$compliment-color: #BBE1FA;
$sub-primary-color: #0F4C75;
$sub-compliment-color: #3282B8;

.student-login {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: bottom;
  height: 80vh;
  margin: 5rem;
}

.student-login * {
  //   background-color: aquamarine;
}
.student-login .container {
  height: 80vh;
  background-image: url("../media-files/grad2.png");
  background-size: cover;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-position: top;
  background-color: #4dbbe0;
  position: relative;
  z-index: 1;
}
.student-login .container::after{
	content: '';
	position: absolute;
	height: 80vh;
	width: 70%;
	z-index: 3;
	bottom: 0;
	left: 10%;
}
.student-login .login-box {
  height: 100%;
  background-color: #f17070;
  width: 100%;
  display: flex;
  flex-direction: column;
  //   grid-template-rows: auto ;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.login-box h1 {
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
}

.login-box input {
  // background-color: aquamarine;
  //   background-color: #eb462e;
  margin: 10px 10px;
  text-align: center;
  //   color: #151611;
  //   border: 10px solid #151611;
  //   border-radius: 10%;
  display: inline-block;
  width: 40%;
}

.login-box button {
  font-size: 1.3rem;
  font-weight: 900;
}
